.mycard{
    /* box-shadow: 0 0 5px #000; */
    background-color: transparent!important;
    z-index: 1000!important;
    /* background-image: url(../../../public/images/img8.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    z-index: 10;
}
.mycard input:focus{
    outline: 3px solid lightblue;
}