.main{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    /* background-color: lightblue; */
}

.main h2{
    font-size: 5rem;
    font-family: cursive;
}
.main h2 .forO4{
    color: red;
    font-size: 7rem;
    box-shadow: 4px 3px  6px rgb(24, 21, 21);
    margin:0 20px;
}
.main h2 .forO42{
    color: red;
    margin:0 9px;
    box-shadow: 4px 3px  6px rgb(24, 21, 21);
}




@media screen and (max-width:768px) {
    .main h2{
        font-size: 3rem;
        font-family: cursive;
    }
    .main h2 .forO4{
        color: red;
        font-size: 4rem;
    }
    
    
}

@media screen and (max-width:525px) {
    .main h2{
        font-size: 1rem;
        font-family: cursive;
    }
    .main h2 .forO4{
        color: red;
        font-size: 2rem;
    }
    
    
}