.main_cont{
    height: 70vh;
}

.con_form{
 display: flex;
 flex-direction: column;
}

.con_form input,.con_form button{
    width: 100%;
    padding:.5rem .5rem;
    margin: .9rem 0;
    /* border-bottom-left-radius: .3rem; */
    /* border-bottom-right-radius: .3rem; */
    border-radius: .3rem;
}

.con_form input,.con_form button:focus{
    outline: 2px solid rgb(97, 101, 97);
    
}
.for_margin_top{
    margin-top: 3rem!important;
}

.mycardReg{
  background-color:  rgb(165, 234, 60);
}

.mycardReg input{
  /* border: 1px solid blue!important; */
  /* box-shadow: none!important; */
  outline: none!important;
  box-shadow: 0 0 0 0.45rem rgb(165, 234, 60)!important;
}

.mycardReg input:focus{
  /* outline: 2px solid rgb(165, 234, 60)!important; */
}

  @media (max-width: 576px) { 
    .con_form{
        width: 99%;
      }
      .for_margin_top{
        margin-top: 0px!important;
      } 
      
  }